<%= stylesheet_link_tag "sessions" %>
<div class="container">
  <div class="row main">
    <div class="panel-heading">
      <div class="panel-title text-center">
        <h3 class="title">Log In</h3>
      </div>
  </div> 
<div class="main-login main-center">
	<%= form_tag sessions_path do %>
	  <% flash.each do |name, msg| %>
    	<%= content_tag :div, msg, class: "alert alert-info" %>
  	  <% end %>
	  <p>
	    <%= text_field_tag :email, params[:email], placeholder: "Email"  %>
	  </p>
	  <p>
	    <%= password_field_tag(:password, "", placeholder: "Password")  %>
	  </p>
	  <p class="submit-btn"><%= submit_tag nil, :class=>"btn btn-primary" %></p>
	  <div class="signLink"><%= link_to "Don't have an account? Sign Up", sign_up_path %> </div>
	<% end %>
</div>
</div>
